@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Contact view from Emp controller.</h1>
        <ul>
            <p>Name: Mr.Kiran Bhoi</p>
            <p>Mobile No: 9527388155</p>
            <p>Address: Flat no 50, RamNagar, Bavdhan, Pune.</p>
        </ul>
    </div>
</body>
</html>
